### IntelliJ IDEA ###
.idea/
*.iml

### Build systems ###
.gradle/
build/
out/
bin/
target/
### Editors ###
.vscode/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### OS ###
.DS_Store
Thumbs.db